@import "./common.scss";
@import 'ant-design-vue/dist/antd.css';
@import './antd.dark.scss';

@font-face {
    font-family: 'AlibabaPuHuiTi';
    src: url('../fonts/AlibabaPuHuiTi-2-55-Regular.ttf');
}
@font-face {
    font-family: "D-DIN";
    src: url('../fonts/D-DIN.ttf');
}
